# Library dependencies for the python code.  You need to install these with
# `pip install -r requirements.txt` before you can run this.

# Dependencies of calcopp-gui
PySimpleGUI>=4.15.1

# Dependencies of sd2opp
NumPy>=1.18.1
